<div class="Bitbox-container" data-id="{{randomId}}">

  <div class="Bitbox-button {{ value is not defined or rawValue.url is not defined or rawValue.url == '' ? 'active' }}">
    <button class="file-system-picker-open">Pick an asset</button>
  </div>

  <div class="Bitbox-picker-container">
    <div class="Bitbox-picker">
    </div>
    <div class="Bitbox-close">X</div>
  </div>

  <div class="Bitbox-element {{ value is defined and rawValue.url is defined and rawValue.url != '' ? 'active' }}">
    <div class="Bitbox-thumbnail">
      <img src="{{ value is defined and rawValue.url is defined and rawValue.url != '' ? rawValue.thumbUrl|default(rawValue.url) }}" />
      <br />
      <button class="file-system-remove">Remove</button>
    </div>
    <input type="hidden" name="{{name}}" value="{{value}}" />
  </div>

</div>
